* {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(36, 37, 38, 0.3);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  min-width: 1540px;
}

:root {
  --view-bg-color: #f7f7f7;
}

a {
  text-decoration: none;
}
